body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    background-color: #e5e5e5;
}

.container{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

#healthBar{
    background: red;
    height: 40px;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    line-height: 40px;
    border-radius: inherit;
}